* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --color-text-primary: #1F2936;
    --color-bg-primary: #f9fafb;
    --color-bg-secondary: #ececfd;
    --color-bg-sidebar: #FFFF;
    --color-border-hr: #E2E8F0;
    --color-hover-primary: #695CFE;
    --color-hover-secondary: #E2E2fb;
    --color-shadow: rgba(0, 0, 0, 0.05);
}
body {
    background: var(--color-bg-primary);
}
.container {
    display: grid;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 270px;
    background: var(--color-bg-sidebar);
    border-right: 1px solid var(--color-border-hr);
    box-shadow: 0 3px 9 px var(--color-shadow);
}
.sidebar .sidebar-header {
    display: flex;
    padding: 20px 18px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-hr);
}
.sidebar-header .header-logo {
    width: 46px;
    height: 46px;
    object-fit: cover;
    display: block;
}
.sidebar-header .sidebar-toggle {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-primary);
    background: var(--color-bg-secondary);
    cursor: pointer;
}
.sidebar-header .sidebar-toggle:hover {
    background: var(--color-hover-secondary);
}
.sidebar-header .sidebar-toggle span {
    font-size: 1.75rem;
}

.sidebar .sidebar-content {
    flex: 1;
    padding: 20px 18px;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-primary) transparent;
}
.sidebar-content .menu-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
}
.menu-list .menu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--color-text-primary);
    transition: 0.3s ease;
}
.menu-list .menu-link:is(:hover, .active) {
    color: #FFF;
    background: var(--color-hover-primary);
}

.sidebar .sidebar-footer {
    display: flex;
    padding: 20px 18px;
    list-style: none;
    border-top: 1px solid var(--color-border-hr);
}

.sidebar-footer .logout-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--color-text-primary);
    transition: 0.3s ease;
}
.sidebar-footer .logout-link:is(:hover, .active) {
    color: #FFF;
    background: var(--color-hover-primary);
}
