* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    "header header header header"
    "sidebar main main right"
    "footer footer footer footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 8px;
    margin: 5px;
}
header {
    grid-area: header;
    background-color: rgb(42, 189, 229);
    padding: 15px;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(63, 233, 63);
    text-align: center;
    padding: 15px;
}
main {
    grid-area: main;
    background-color: #444;
    text-align: center;
    padding: 15px;
}
.right {
    grid-area: right;
    background-color: rgb(204, 76, 29);
    text-align: center;
    padding: 15px;
}
footer {
    grid-area: footer;
    background-color: rgb(215, 48, 215);
    padding: 15px;
}