* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
.container {
    width: 400px;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}
.profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    vertical-align: middle;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.name {
    font-size: 25px;
    margin: 25px 0 5px 0;
    color: #333;
}
.bio {
    color: rgb(96, 96, 96);
    font-size: 16px;
    margin-bottom: 30px;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.stats div h3 {
    color: #333;
    font-size: 18px;
}
.stats div p {
    font-size: 14px;
    color: #777;
}
.desc {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 15px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.social-icons img {
    width: 25px;
    height: 25px;
}
.view-button {
    color: rgb(96, 96, 96);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.view-button:hover {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
}